	#file{
		width: 95%;
	}
	#file th{
		padding: 5px;
		color: white;
		background-color: #8C8C8C;
	}
	#file td{
		height: 30px;
		color: black;
		background-color: white;
	}
	#file .last{
		background-color: #8C8C8C;
		padding-left: 10px;
	}
	.filebutton{
		padding-left: 20px;
		margin-right: 10px;
		border: none;
		background-color: black;
		color: white;
	}